div(data-role="panel", id="rightPanel", data-position="right", data-display="reveal", data-theme="b")	
	div(class="nav_profile")
		div(class="nav_name")
			a(href="#home")
				h3	Stores	
				
			ul(data-role="listview", data-inset="true")
				-for(var g = 0 ; g < data.dataLength ; g++)	
					li( data-role="list-divider", data-theme="a")
						a(onclick="findStore(\"#{data.stores[g].name}\")") #{data.stores[g].name}
					- for(var t = 0 ; t < data.stores[g].categoriesLength ; t++)	
						li
							a(onclick="findCategory(\"#{data.stores[g].name}\",\"#{data.stores[g].categories[t]}\")") #{data.stores[g].categories[t]}
				

div(data-role="panel", id="leftPanel", class="main_nav", data-display="reveal" , data-dismissible="true" ,data-theme="b")		
	div(class="nav_profile")			
		div(class="nav_name")
			h3 

			-if (loggedIn) {
					a(href="#")  Juan del Pueblo

			-	}
			-else {
					a(href="#login", data-role="button", data-inline="true",
						data-icon="check", data-theme="a", data-transition="flip", dat-corners="true"
						data-icon-shadow="true", data-mini="true") Log In 


					| or
					a(href= "#register", data-role="button", data-inline="true",
						data-icon="plus", data-theme="a", data-transition="flip", dat-corners="true"
						data-icon-shadow="true", data-mini="true")  Register
			-	}


			ul(data-role="listview", data-inset="true" )	
				li
					a(href="#shoppingCart") Cart
				li 
					a(href="#placedBids") Placed Bids
				li
					a(href="#itemsSelling") Items Selling
				li
					a(href="#itemsSold")	Items Sold
				li 
					a(href="#profilePage")	Account
					
			-if (loggedIn) {

					a(data-role="button", data-theme="a", data-position="fixed", onclick="signOut()") Sign Out
			-	}

			-if (isAdmin) {
				br 

				ul(data-role="listview", data-inset="true" )
					li(data-role="list-divider", data-theme="a") Admin Section	
					li
						a(href="#adminAddStore") Add Store
					li 
						a(href="#adminAddCategory") Add Category to Store
					li
						a(href="#adminManageUsers") Manage Users
					li
						a(href="#adminGenerateReports")	Generate Reports
						
			-	}


div(data-role="header", data-theme="c")
	div(data-role="fieldcontain")
		a(href="#leftPanel", data-role="button", data-inline="true") Panel	
		a(href="#rightPanel", data-role="button", data-inline="true") Store Menus
		input(type="search", name="search-2" , class="mainSearch", data-theme="c" , value="")






